<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Luxury Vehicles</title>
  <link rel="icon" href="imagenes/corona.png">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Luxury Vehicles</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="datatables/datatableAvion.html">Lista de Aviones</a></li>
        <li><a href="datatables/datatableBus.html">Lista de Buses</a></li>
        <li><a href="#">Trabaja Con Nosotros</a></li>
        <li><a href="#">Conocenos</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Ofrecemos</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Agregar Vehiculo</h1>
        <div class="row center">
        </div>
        <div class="botones">
          <button onclick="location.href='viewForm/agregarBus.html'" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Agregar Bus</a>
        </div>
        <div class="botones">
          <button onclick="location.href='viewForm/agregarAvion.html'" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Agregar Avion</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="imagenes/airplane-5645875_1280.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds</h5>

            <p class="light">¡Viaje rápido y seguro con nuestros vehículos de alta velocidad! Nuestros buses y aviones están diseñados para brindar una experiencia de viaje rápida y eficiente. Con nuestros aviones comerciales, puede llegar a su destino en cuestión de horas en lugar de días, evitando las molestias del tráfico en la carretera y los retrasos del transporte público. Y si prefiere la comodidad de viajar por carretera.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Diseños Unicos</h5>

            <p class="light">¡Viaje con estilo con nuestros vehículos de diseño exclusivo! En nuestra flota, encontrará vehículos únicos y atractivos que llamarán la atención dondequiera que vaya. Desde nuestros buses decorados con diseños coloridos y vibrantes hasta nuestros aviones comerciales elegantes y modernos, todos nuestros vehículos están diseñados pensando en la belleza y la comodidad de los pasajeros. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Super Maquinas</h5>

            <p class="light">¡Viaje con confianza con nuestros vehículos de capacidad mecánica incomparable! Nuestros buses y aviones están equipados con la tecnología más avanzada y los sistemas mecánicos más fiables para asegurar un viaje seguro y sin problemas. Nuestra flota está mantenida y cuidada por un equipo de mecánicos altamente capacitados y experimentados.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="imagenes/hong-kong-4046913_1280.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contactanos</h4>
          <p class="left-align light">Si está buscando una forma rápida, segura y cómoda de viajar, ¡nuestra flota de buses y aviones está aquí para servirle! Estamos comprometidos a ofrecer una experiencia de viaje única y sin igual, con vehículos de alta velocidad, diseños exclusivos y capacidad mecánica incomparable.
            Si desea obtener más información sobre nuestros servicios de transporte, hacer una reserva o solicitar una cotización personalizada, ¡no dude en contactarnos hoy mismo! Nuestro equipo amable y profesional está disponible para responder cualquier pregunta o inquietud que pueda tener.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="imagenes/globe-3383088_1280.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Compañia</h5>
          <p class="grey-text text-lighten-4">Nuestra compañía es líder en el mercado del transporte, con una flota de buses y aviones de alta calidad y un equipo altamente capacitado y comprometido en brindar una experiencia de viaje excepcional a nuestros clientes. Nos enorgullece ofrecer una variedad de servicios de transporte, desde vuelos comerciales hasta traslados terrestres privados.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
