<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>Eliminar Bus</title>
   <link rel="icon" href="imagenes/autobus.png">
   <!-- CSS  -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link href="stylfor.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

   <nav class="white" role="navigation">
      <div class="nav-wrapper container">
         <a id="logo-container" href="../index.html" class="brand-logo">Luxury Vehicles</a>
         <ul class="right hide-on-med-and-down">
            <li><a href="../datatables/datatableBus.html">Lista De Aviones</a></li>
            <li><a href="#">Trabaja Con Nosotros</a></li>
            <li><a href="#">Conocenos</a></li>
      </div>
   </nav>

   <div class="formulario-vehiculo1l">
      <form id="formBusEliminar">
         <h1>ELIMINAR BUS</h1>
         <label for="placa">Digite El Id Que Desea Eliminar:</label>
         <input type="text" id="idBus" name="placa" required><br>
         <input type="submit" value="Aceptar" id="btnEliminarBusId">
      </form>
      </form>
   </div>
   <script src="../crud/eliminar/eliminarInfoBus.js"></script>
</body>

</html>